.card{
    padding: 30px;
    margin-top: 40px;
}
.momsraknare{
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar a{
    color: white;
    font-size: 18px;

}
.dropdown-menu a{
    color: #000000;
}
.card-pos{
    margin-top: 100px;
}
.hero{
    height: 400px;
    width:100%;
    background: url('../static/taxi.jpeg') no-repeat center center;
    animation-name: hero-zoom;  /* skapa ett namn för animering*/
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
   

}
.outer{
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}


@keyframes hero-zoom{ /* själva animeringen sker här*/
    from{
transform: scale(1);
    }
 to{
transform: scale(1.1);
}


}