.card{
    padding: 30px;
    margin-top: 40px;
}
.momsraknare{
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar a{
    color: white;
    font-size: 18px;

}
.dropdown-menu a{
    color: black;
}