{%extends "base.html"%}
{%block content%}
<div class="container-fluid">
    <div class="row row-cols-md-3 justify-content-center text-center ">
        <div class="col">
            <h2> Moms 25%</h2>
            <form class="momsraknare" class="text-center">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Skriv in din summa under</label>
                    <input type="text" class="form-control" id="summatjugofem" aria-describedby="emailHelp">
                </div>
                <button type="button" id="calculatetjugofem" class="btn btn-primary">Räkna ut moms</button>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Resultat av momsuträkning</label>
                    <input type="text" class="form-control" id="resulttjugofem">
                </div>
                <button type="submit" class="btn btn-primary">Spara Resultat</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
