{%extends "base.html"%}
{%block content%}
<div class="container-fluid">
    <div class="row row-cols-md-3 justify-content-center text-center ">
        <div class="col">
            <form class="momsraknare" class="text-center" action="{{url_for('calculatesix')}}" method="POST">
                <div class="shadow p-3 mb-5 bg-body rounded card-pos">
                    <h2> Moms 6%</h2>
                <div class="mb-3">
                    <label for="summasex" class="form-label">Skriv in din summa under</label>
                    <input type="text" class="form-control" id="summasex" aria-describedby="emailHelp">
                </div>
                <button type="button" id="calculatesix" class="btn btn-primary">Räkna ut moms</button>
                <div class="mb-3">
                    <label for="resultat" class="form-label">Resultat av momsuträkning</label>
                    <input type="text" class="form-control" id="result" name="result">
                </div>

                <div class="mb-3">
                    <label for="produkt" class="form-label">Skriv in produkten</label>
                    <input type="text" class="form-control" name="produktsex" id="produkt">
                </div>
                <button type="submit" class="btn btn-primary">Spara Resultat</button>
            </div>
            <div class="mb-3">
            <label for="test-result" class="form-label"> Uträkning: </label>
            <input type="text" id="test-result" name="test-result" class="form-control">
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}