
<div class="mt-4 p-5 bg-primary text-white text-center nogu pos-jumbo">
    <h1>Välkommen, välj nedan vilken moms du vill räkna ut</h1>
</div>
{%extends "base.html"%}

{%block content%}


<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Moms 6%</h5>
                </div>
                <div class="card-body">
                </div>  
                <a href="{{url_for('calculatesix')}}" class="btn btn-success">Räkna ut moms för 6%</a>
            </div>
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h5> Moms 25%</h5>
                </div>
                <div class="card-body">
                </div>
                <a href="{{url_for('calculatetwentyfive')}}" class="btn btn-success">Räkna ut moms för 25%</a>
            </div>
        </div>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="col">
            
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Moms 30%</h5>
                </div>
                <div class="card-body">
                </div>
                <a href="{{url_for('calculatethirty')}}" class="btn btn-success">Räkna ut moms för 30%</a>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
<div class="outer">
    <div class="hero">
    </div>
    </div>
 
{% endblock %}