<div class="mt-4 p-5 bg-primary text-white text-center nogu">
    <h1>Moms:6%</h1>
</div>
{%extends "base.html"%}

{%block content%}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for momsen in moms %}
        <div class="col">
            <div class="card text-center shadow p-3 mb-5 bg-body rounded px-8">
                <div class="card-header bg-primary text-white">
                    <h5>{{loop.index}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Produkt:</5>
                    <h5 class="card-title"> Beräkning: {{momsen.moms_six}} Kr</5>
                        
                    
                </div>
                <a href="{{url_for('sixedit', moms_id=momsen.moms_id)}}" class="btn btn-success">Ändra</a>
                <div class="card-footer bg-primary text-white">
                   <h5>Datum: {{momsen.date_add}} </h5>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}