{%extends "base.html"%}

{%block content%}
<div class="mt-4 p-5 bg-primary text-white rounded text-center nogu">
    <h1>Moms:30%</h1>
</div>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for momsen in moms %}
        <div class="col">
            <div class="card text-center shadow p-3 mb-5 bg-body rounded">
                <div class="card-header bg-primary text-white">
                    Sammanfattning
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Produkt:</5>
                    <h5 class="card-title"> Beräkning: {{momsen.moms_thirty}} Kr</5>
                    
                </div>
                <div class="card-footer text-muted">
                   Datum:
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}